* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}


header {
    background-color: bisque;

}

.header {
    padding: 2rem;
    margin-bottom: 2rem;
}

header img {
    margin: 1.8rem;
    width: 30rem;
    border: 2px solid aqua;
    border-radius: 50%;
    float: left;
}

header h1 {
    text-align: center;
    padding: 8rem;
    font-size: 6rem;
}


h2 {
    color: rgb(204, 143, 29);
    font-size: 4rem;
}

h3 {
    color: rgb(90, 67, 34);
    font-size: 2.4rem;
    margin-top: 1.4rem;

}

main {
    background-color: rgba(245, 245, 220, 0.774);
}

main * {
    padding-left: 1rem;
    padding-right: 1rem;
}

ul li {
    font-size: 1.4rem;
    padding-left: .4rem;
}

.ingredients-and-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.ingredients-list {

}


.ingredients-img {

}

.ingredients-img img {
    height: 38rem;
    margin-right: 30rem;
    width: 30rem;
    border-radius: 20%;
}

.preparation-and-img {
    display: flex;
    justify-content: space-between;
}

.preparation-and-img img {
    margin-right: 30rem;
    width: 30rem;
    border-radius: 20%;
}