
/*MAIN PAGE*/

h1 {
    background-color: #f58ea0;
    color: rgb(128, 128, 128);
}

/*We have 3 h2 */


#mainpage h2 {
    background-color: #dad8d8;
    color: purple;
}
#mainpage h2::first-letter {
    font-size: 100px;
}

#main-topic {
    background-color: #FF69B4;
}

.subtopic {

    background-color: #ebf64d;

}
.subtopic:hover {
    color: lightblue;
}
.subtopic::first-line {
    font-size: 50px;
}
.subtopic+p::first-letter {
    color: red;
    font-size: 100px;
}

.partner {
    background-color: turquoise;
}
.partner:hover {
    background-color: yellowgreen;
}

#contact-link:link {
    color: red;
}
#contact-link:visited {
    color: blue ;
}
#contact-link:hover {
    color: seagreen;
}


/*   END MAIN PAGE   */

/*   CONTACT PAGE   */

#contact-body ul {
    background-color: lightblue;
    color: blue;
}

#contact-body ul:hover {
    background-color: pink;
    color: rgb(30, 255, 0);
}

#contact-body a {
    color: cadetblue;
}

#contact-body a:visited {
    color: rgb(165, 77, 26);
}
#contact-body a:hover {
    color: rgb(51, 133, 13);
}


/*   END CONTACT PAGE  */