* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display:flex ;
}

.kutu {
    display:flex ;
    justify-content: center;
    align-items: center;
 

}

.kutu1 {
    background-color: aqua;
    width: 30%;
    height: 100px;
}

.kutu2 {
    background-color: red;
    width: 70%;
    
}

.kutu1 p {
    color: rgb(255, 0, 55);
    background-color: yellow;
    width: 100px;
    height: 40px;
}

.kutu2 p {
    color: blue;
    background-color: yellowgreen;  
    width: 100px;
    height: 40px;
}
.garten {
    width: 200px;
    height: 300px;
    margin: auto;
    
}

.width-try {
    background-color: yellowgreen;
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: auto;
    font-size: 50px;
   
  
   
    
}

.yanyana-try {
   display: flex;
   margin: 10px;
   text-align: center;
   background-color: chocolate;
   border: 5px solid black;
   font-size: 10px;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}


.merhaba {
    background-color: blue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


.tooltip {
    position: relative;
    margin: 200px;
}
.tooltiptext {
    background-color: black;
    color: blanchedalmond;
    position: absolute;
   visibility: hidden;
   border-radius: 6px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}